:root{
    --bg-color:#000000;
    --main-color:#121212;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--bg-color);
    color: #fff;
}

nav{
    gap: 20px;
    padding: 10px;
    justify-content: space-between;
}

.nav__left{
    gap: 10px;
}

.logo svg{
    fill: white;
    width: 36px;
    height: 36px;
    margin: 0 18px 0 18px;
}

.home{
    background-color: #1f1f1f;
    padding: 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.home svg{
    width: 24px;
    height: 24px;
    fill: rgb(225, 225, 225);
}


.search{
    width: 450px;
    height: 50px;
    background-color: #1f1f1f;
    border-radius: 30px;
}

.search__left{
    flex: 1;
    padding: 8px;
}

.search__right{
    padding: 8px;
}

.search svg{
    width: 24px;
    fill: #a0a0a0;
    margin: 0 10px;
}

.search__divider{
    width: 1px;
    height: 25px;
    background-color: #a0a0a0;
    margin: 0 10px;
}

.search input{
    background-color: #1f1f1f;
    border: none;
    outline: none;
    color: #a0a0a0;
    font-size: 16px;
    flex: 1;
    min-width: 0;
}

.search input::placeholder{
    color: #a0a0a0;
    font-size: 16px;
    white-space: nowrap;
}

.nav--button{
    padding: 5px;
    background-color: transparent;
    color: #a0a0a0;
    border: none;
    font-size: 15px;
    font-weight: 600;
}

.seperator{
    width: 2px;
    height: 30px;
    background-color: rgb(225, 225, 225);
    margin: 0 15px;
}

.user-actions{
    gap: 10px;
}

.app__install{
    flex-direction: row;
    gap: 5px;
    padding: 10px;
}

.app__install svg{
    width: 16px;
    fill: #a0a0a0;
}

.log-in--button{
    border-radius: 30px;
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
}

.hero__left{
    margin: 0 5px 0 7px;
    background-color: var(--main-color);
    width: 21vw;
    height: 77vh;
    border-radius: 7px;
}

.hero__right{
    border-radius: 7px;
    margin: 0 7px 0 5px;
    background-color: var(--main-color);
    width: 79vw;
    height: 77vh;
}