.flex{
    display: flex;
}

.flex--align-center{
    display: flex;
    align-items: center;
}

.flex--justify-center{
    display: flex;
    justify-content: center;
}

.flex--center{
    display: flex;
    align-items: center;
    justify-content: center;
}

